[user]
	name = Tom Meagher
	email = hello+git@tommeagher.com
	signingkey = 9DAB58D8
[color]
	ui = auto
[alias]
	s = status -su
	hist = log  --graph --oneline --decorate --all --show-signature
	co = checkout
	ci = commit
	me = merge --no-ff --no-edit
	br = branch
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)<%an>%Creset' --abbrev-commit --date=relative --all
	recent = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:relative)\t%(refname:short)\t\t%(contents:subject)' refs/heads/
	praise = blame
	unstage = reset HEAD
	staged = diff --ignore-space-change --cached
	cleandiff = diff --patience --ignore-space-change --minimal
	up = push -u origin master

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
  excludesfile = ~/.gitignore